// Footer
//________________________________________________________________________
// General footer settings
footer {
  width: 100%;
  color: $logo-gold;
  background-color: $footer-background-color;
  height: max-content;
  padding: em(10) 1vw;
  a:hover {
    color: $logo-green;
  }
}

// Footer main content
.footer-flex {
  @include flexing(row, nowrap, space-between, center);
  .address {
    flex-shrink: 0;
    margin-left: 1vw;
    padding-right: 1vw;
    max-width: 20%;
    ul {
      list-style: none;
      min-width: max-content;
      border-left: 3px solid $banner-color;
      padding-left: 1vw;
      font-size: em(20);
      li {
        display: block;
        width: max-content;
        margin: 0;
        line-height: em(25);
        white-space: nowrap;
      }
    }
  }
}

// Copyright section
.copyright {
  text-align: center;
  color: $header-color;
  padding-top: em(10);
  font-size: em(12);
  p {
    margin: 0;
    span::before {
      content: "\00a0";
    }
  }
  .site-creator {
    font-size: em(10, 12);
    a {
      color: $logo-brown;
    }
  }
}
