// Základ

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-moz-selection {
  background: $logo-brown;
  color: $logo-gold;
}

*::selection {
  background: $logo-brown;
  color: $logo-gold;
}

body {
  font-size: $base-font-size;
  background-color: $logo-white;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: $logo-gold;
}

// GDPR anchors
.zasady-ochrany-osobnych-udajov a {
  color: unset;
  font-weight: 700;
  text-decoration: underline;
}

// Complianz
#cmplz-document {
  margin: 0 auto;
  text-align: left;
}
