// Hlavička - generálne nastavenia

header {
  position: relative;
  background-color: $header-background-color;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: $logo-gold;
}

/*.mainHeader:after {
  content: "";
  width: em(250);
  height: em(200);
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../data/img/main/klasik_cut.png);
  background-repeat: no-repeat;
  background-size: em(250) em(200);
  background-position: bottom right;
  opacity: 0;
  -webkit-animation-name: yummy;
  animation-name: yummy;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}*/

// Nastavenia hlavičky s kontaktom a sociálnymi sieťami
//________________________________________________________________________
.contact-social-flex {
  @include flexing(row, nowrap, space-between, center);
  height: em(60);
  padding: em(10) 2vw;
  border-bottom: 1px solid $logo-green;
  .contact {
    width: max-content;
    font-size: em(20);
    font-style: italic;
    line-height: em(30);
    a {
      color: $logo-gold;
    }
    a:not(:last-child) {
      margin-right: 2vw;
    }
    a:hover .fa-solid {
      position: relative;
      -webkit-animation-name: shaker;
      animation-name: shaker;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
    }
    .fa-solid {
      color: $logo-green;
    }
    .fa-solid::after {
      content: "\00a0 \00a0";
    }
  }
  .socialIcons {
    font-size: em(40);
    width: max-content;
    text-align: right;
    a:not(:last-child) {
      margin-right: 2vw;
    }
    .fa-facebook,
    .fa-instagram,
    .fa-t {
      color: $logo-green;
      transition: 1s;
    }
    .fa-facebook:hover,
    .fa-instagram:hover,
    .fa-t:hover {
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s;
    }
    .fa-facebook:hover {
      color: $fb-blue;
    }

    .fa-instagram:hover {
      color: $ig-rose;
    }
    .fa-t:hover {
      color: $ta-green;
    }
  }
}

// Nastavenia hlavnej časti headeru
//________________________________________________________________________
.mainHeader {
  width: 100%;
  @include flexing();
  overflow: hidden;
  a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    img {
      position: relative;
      left: 1%;
      height: em(200);
      width: auto;
      -webkit-animation-name: dynamic-entry;
      animation-name: dynamic-entry;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
    }
  }
  .header-wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 5%;
  }
}

.header-wrapper {
  h1 {
    margin: 0;
    padding-top: em(5);
    font-size: em(80);
    font-family: $hand-ff;
    letter-spacing: 0.06em;
    font-weight: 400;
    text-shadow: 3px 5px 6px $logo-green;
    text-transform: uppercase;
  }
  .openingHours {
    text-indent: 0;
    list-style: none;
    margin: em(30) auto;
    padding-inline-start: 0;
    li {
      display: inline-block;
      margin-left: 5%;
      font-size: em(20);
    }
  }
}

// Nastavenia hlavných navigácii
//________________________________________________________________________
.menu-hlavne-menu-container {
  width: max-content;
  align-self: center;
  padding-left: 2vw;
}

#mainNav {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: em(25);
  font-size: em(20);
  width: 10vw;
  min-width: 100px;
  visibility: visible;
  li {
    border-top: inset 2px;
    border-left: inset;
    border-color: $logo-green;
    border-radius: 10px 50px 0 15px;
    max-width: 100%;
    margin-bottom: em(5);
    padding: 0 5%;
    overflow: hidden;
    animation-duration: 1s;
    a {
      width: 100%;
      padding-right: 70%;
    }
    a:hover {
      color: $logo-green;
    }
  }
  li:hover {
    border-color: $logo-white;
  }
}

.alt-menu {
  display: none;
}

#altNav {
  display: none;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  li {
    display: block;
    width: 15%;
    padding-top: em(3);
    line-height: em(30);
    font-size: em(20);
    text-align: center;
    border-top: inset 2px;
    border-left: inset 1px;
    border-right: inset 1px;
    border-radius: 50% 50% 0px 0;
    border-color: $logo-green;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
}

#altNav a:hover {
  color: $logo-green;
}
#altNav .current_page_item,
#mainNav .current_page_item {
  border-color: $logo-brown;
  a {
    color: $logo-white;
  }
}
