// Generálne nastavenia hlavného obsahu stránok
//________________________________________________________________________
.site-main {
  width: 95vw;
  margin: 0 auto;
  line-height: em(29);
  text-align: center;
  font-family: $main-ff;
  h2 {
    margin-top: em(10);
    font-size: em(45);
    line-height: em(20);
  }
  h3 {
    margin-top: em(20);
    font-size: em(30);
    line-height: em(20);
  }
  p {
    max-width: 800px;
    margin: em(25) auto;
    font-size: em(19);
    letter-spacing: 0.3px;
  }
}

.frontpage-flex-wrapper {
  @include flexing(row, nowrap, space-between);
  .main-content {
    width: 75%;
  }
  .side-content {
    width: 25%;
    padding-left: 2.5vw;
  }
}

// Nastavenia subsocial shortkódu
.subsocial {
  font-size: em(70);
  a {
    margin: 0 6%;
    .fa-facebook,
    .fa-instagram,
    .fa-t {
      transition: 1s;
      color: $logo-green;
    }
    .fa-facebook:hover,
    .fa-instagram:hover,
    .fa-t:hover {
      -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
      transform: scale(1.6);
      rotate: 360deg;
    }
    .fa-facebook:hover {
      color: $fb-blue;
    }
    .fa-instagram:hover {
      color: $ig-rose;
    }
    .fa-t:hover {
      color: $ta-green;
    }
  }
}

// GDPR
.gdpr-section {
  font-size: em(14);
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
  p {
    font-size: inherit;
  }
  h2 {
    font-size: em(22, 14);
    margin-top: em(15, 14);
    text-transform: initial;
    padding: 0 em(10, 14);
  }
}

// scroll up tlačítko
.scrlup {
  position: fixed;
  display: block;
  font-size: em(50);
  bottom: em(20);
  right: 3%;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  color: lighten($logo-green, 20%);
  display: none;
}
.scrlup:hover {
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: $logo-green;
}
