// Media queries
//________________________________________________________________________

@media (max-width: 1400px) {
  .mainHeader .widget-area {
    display: none;
  }
}

@media (max-width: 1150px) {
  .menu-hlavne-menu-container {
    display: none;
  }
  .alt-menu {
    display: block;
  }
}

@media (max-width: 900px) {
  .google-map {
    max-width: 500px;
  }
}

@media (max-width: 781px) {
  body {
    font-size: 75%;
  }
  .mainHeader {
    display: block;
    a {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
    .header-wrapper {
      width: 100%;
      margin-left: 0;
      text-align: center;
      h1 {
        margin: 0 auto;
      }
    }
  }
  .frontpage-flex-wrapper {
    display: block;
    .main-content {
      width: 100%;
    }
    .side-content {
      width: 100%;
      padding-left: 0;
      margin: em(20) auto 0 auto;
    }
  }
  .ponuka {
    .wp-block-columns {
      display: block;
    }
    .main-content section:not(.sticky-nav) .wp-block-column:first-of-type {
      border-right: none;
    }
    .dressings .wp-block-column h4:not(.first-of-type) {
      margin-top: em(50);
    }
  }
  .main-gallery img {
    opacity: 1;
  }
  #gallery-overlay {
    .previous:hover,
    .next:hover {
      .fa-solid {
        transform: none;
      }
    }
  }
  .footer-flex {
    .address {
      min-width: 220px;
    }
    .google-map {
      max-width: 330px;
    }
  }
}

@media (max-width: 600px) {
  #tooltip p {
    width: 44.5vw;
  }
}
@media (max-width: 576px) {
  .mainHeader {
    max-width: 96vw;
    margin: 0 auto;
  }
  #altNav li {
    margin-left: 2.5vw;
  }
  #gallery-overlay {
    .previous,
    .next {
      font-size: em(40);
    }
  }
  .footer-flex {
    display: block;
    .address {
      width: max-content;
      padding-right: 0;
      margin: 0 auto;
      ul {
        border-left: none;
        margin-top: 0;
        padding-left: 0;
        li {
          width: auto;
          text-align: center;
          line-height: em(19);
        }
        li:nth-child(3) {
          margin-bottom: em(6);
        }
      }
    }
    .google-map {
      width: auto;
      max-width: 100%;
    }
  }
}
@media (max-width: 450px) {
  .contact-social-flex {
    display: block;
    height: max-content;
    .contact {
      width: 100%;
      @include flexing(column-reverse, nowrap, center, center);
      a:not(:last-child) {
        margin-right: 0;
      }
    }
    .socialIcons {
      width: 50%;
      margin: 1vw auto 0 auto;
      @include flexing(row, nowrap, space-around, center);
    }
  }
  .header-wrapper {
    h1 {
      font-size: em(60);
    }
    .openingHours {
      margin: em(15) auto;
    }
  }
  #altNav {
    justify-content: space-around;
    li {
      margin-left: 0;
    }
  }
}
