// Media queries
//________________________________________________________________________

@media (max-width: 1400px) {
  .mainHeader .widget-area {
    display: none;
  }
}

@media (max-width: 1150px) {
  .menu-hlavne-menu-container {
    display: none;
  }
  .alt-menu {
    display: block;
  }
}

@media (max-width: 900px) {
  .google-map {
    max-width: 500px;
  }
}

@media (max-width: 781px) {
  body {
    font-size: 75%;
  }
  .mainHeader {
    display: block;
    a {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
    .header-wrapper {
      width: 100%;
      margin-left: 0;
      text-align: center;
      h1 {
        margin: 0 auto;
      }
    }
  }
  .frontpage-flex-wrapper {
    display: block;
    .main-content {
      width: 100%;
    }
    .side-content {
      width: 100%;
      padding-left: 0;
      margin: em(20) auto 0 auto;
    }
  }
  .ponuka {
    .wp-block-columns {
      display: block;
    }
    .main-content section:not(.sticky-nav) .wp-block-column:first-of-type {
      border-right: none;
    }
  }
  .footer-flex {
    .address {
      min-width: 220px;
    }
    .google-map {
      max-width: 330px;
    }
  }
}

@media (max-width: 576px) {
}
