// Nastavenie podstránky s ponukou
//________________________________________________________________________

.ponuka {
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100vw;
    margin-left: -2.5vw;
    padding-top: em(10);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: $sticky-color;
    border-top: 1px solid $banner-color;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    .is-layout-flex {
      @include flexing(row, wrap, space-evenly, flex-start, flex-start);
      margin: 0;
      padding: 0;
      padding-bottom: em(15);
    }
    .wp-block-button {
      a {
        padding: em(5) 1vw;
        text-align: center;
        border-radius: 50px;
        color: $header-background-color;
        border: 2px solid $banner-color;
        transition: 1s;
        background-image: $nav-gradient-button;
        background-size: 200% auto;
      }
      a:hover {
        cursor: pointer;
        transition: 1s;
        background-position: 95%;
        transform: scale(1.1);
      }
    }
  }
  .main-content section:not(.sticky-nav) {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: em(80);
    h2 {
      text-decoration: underline;
    }
    .offer-info {
      padding-bottom: em(10);
      border-bottom: 3px solid $logo-brown;
      p:last-child {
        margin-bottom: 0;
      }
    }
    .menu-item-block .wp-block-group__inner-container {
      margin: em(25) 0;
      .is-layout-flex {
        @include flexing(row, nowrap, space-between);
        border-bottom: 1px solid darken($logo-white, 10%);
        p:first-of-type {
          font-size: em(22);
          font-weight: 700;
        }
      }
      p {
        margin: 0;
      }
      p:not(.is-layout-flex p) {
        text-align: left;
        text-indent: 20px;
        font-size: em(15);
        font-style: italic;
      }
      p:last-child:not(.is-layout-flex p:last-child) {
        font-size: em(12);
        opacity: 0.5;
        line-height: normal;
      }
    }
    .wp-block-column:first-of-type {
      border-right: 1px solid $header-color;
    }
    .wp-block-column {
      p {
        margin: 0;
      }
      .is-layout-flex {
        @include flexing(row, nowrap, space-between);
        width: 95%;
      }
      .wp-block-group {
        margin: em(13) 0;
        p:first-of-type {
          font-size: em(20);
          font-weight: 700;
        }
        span {
          font-size: em(12, 20);
          opacity: 0.5;
          line-height: normal;
          font-style: italic;
          font-weight: normal;
        }
      }
    }
  }
  .disclaimer {
    text-align: center;
    font-weight: 700;
    a {
      color: $fb-blue;
    }
  }
}

.alergens {
  .wp-block-buttons {
    display: block;
    margin: 0 auto;
  }
  .wp-block-button {
    a {
      padding: em(5) 1vw;
      text-align: center;
      border-radius: 50px;
      color: $header-background-color;
      border: none;
      transition: 1s;
      background-image: $nav-gradient-button;
      background-size: 200% auto;
    }
    a:hover {
      cursor: pointer;
      transition: 1s;
      background-position: 95%;
    }
  }
  ol {
    opacity: 0.7;
    text-align: left;
    li {
      margin-left: 5px;
    }
  }
}
