// Tooltip
//________________________________________________________________________

#tooltip {
  position: absolute;
  p {
    width: 30vw;
    text-align: center;
    font-size: em(14);
    line-height: em(20);
    font-weight: bold;
    margin: 0;
    padding: em(5) 2%;
    background: $logo-green;
    border-radius: 10px;
  }
}
